{% extends "base.html" %}

{% block title %}{{ study_id }}{% endblock %}

{% block content %}
<h1 class="introduction">{{ study_id }}</h1>
{% if metadata_dict %}
    <p>Runs: {{ occurrence }}</p>
    <p>Last Successful Run Date: {{ last_successful_run_date }}</p>
    <p>Last Successful Run Time: {{ last_successful_run_time }}</p>
    <p>Next Run Date: {{ next_run_date }}</p>
    <p>Next Run Time: {{ next_run_time }}</p>
{% else %}
    <h2>NO DATA UPLOADED TODAY</h2>
{% endif %}
<div class="table-container">
    {{ past_week_table | safe }}
</div>
<div class="table-container">
    {{ past_month_table | safe }}
</div>
<script>
    tableData = document.querySelectorAll('td')
    tableData.forEach((data) => {
        data.innerHTML = ''
    });
</script>
{% endblock %}